<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
                <title>
                    直播日志
                </title>
                <meta content="width=device-width, initial-scale=1" name="viewport">
                    <meta content="zhibo" name="description"/>
                    <meta content="zhibo" name="keywords"/>
                    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
                    <link href="favicon.ico" rel="shortcut icon">
                        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
                            <!-- Animate.css -->
                            <link href="css/animate.css" rel="stylesheet">
                                <!-- Icomoon Icon Fonts-->
                                <link href="css/icomoon.css" rel="stylesheet">
                                    <!-- Bootstrap  -->
                                    <link href="css/bootstrap.css" rel="stylesheet">
                                        <!-- Flexslider  -->
                                        <link href="css/flexslider.css" rel="stylesheet">
                                            <!-- Theme style  -->
                                            <link href="css/style.css" rel="stylesheet">
                                                <!-- Modernizr JS -->
                                                <script src="js/modernizr-2.6.2.min.js">
                                                </script>
                                                <!-- FOR IE9 below -->
                                                <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
                                            </link>
                                        </link>
                                    </link>
                                </link>
                            </link>
                        </link>
                    </link>
                </meta>
            </meta>
        </meta>
    </head>
    <body>
        <div id="fh5co-page">
            <a class="js-fh5co-nav-toggle fh5co-nav-toggle" href="#">
                <i>
                </i>
            </a>
            <aside class="border js-fullheight" id="fh5co-aside" role="complementary">
                <h1 id="fh5co-logo">
                    <a href="index.html">
                        直播日志
                    </a>
                </h1>
                <nav id="fh5co-main-menu" role="navigation">
                    <ul>
                        <li>
                            <a href="zhibo.html">
                                首页
                            </a>
                        </li>
                        <li class="fh5co-active">
                            <a href="blog.html">
                                日志统计
                            </a>
                        </li>
                        <li>
                            <a href="logdetail.html">
                                日志详情
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="fh5co-footer">
                    <p>
                        <small>
                            © 2017 nolasthope.cn All Rights Reserved.
                        </small>
                    </p>
                </div>
            </aside>
        </div>
    </body>
</html>
<div id="fh5co-main">
</div>
<!-- jQuery -->
<script src="js/jquery.min.js">
</script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js">
</script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js">
</script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js">
</script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js">
</script>
<!-- Echarts JS -->
<script src="js/echarts.js">
</script>
<!-- MAIN JS -->
<script src="js/main.js">
</script>
