<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="{{url_for('static', filename='css/style_404.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="main">
		<!-- header -->
		<div id="header">
			<h1>网站正在上线中<span>敬请期待</span></h1>
		</div>
		<!-- content -->
		<div id="content">
			<ul class="nav">
         </ul>
         <p></p>
		</div>
		<!-- footer -->
		<div id="footer">
      </div>
	</div>
</body>
</html>